.jumbotron
    .container
        .row
            .col-md-7
                h1 Computer Not Working?
                p.
                    Is your computer running slow? Or maybe not at all? Call us for a quick and
                    easy qoute!
                p
                    a.btn.btn-primary.btn-lg(href='#') Learn More >>
            .col-md-5
                img(src='images/computer-scanner.png')