extends layout

block content

    h1 About Us
    p.
        Lorem ipsum dolor sit amet, mei no suas salutatus eloquentiam. Etiam ponderum suscipiantur ex vis.
        Ut vix modo brute modus. At facilis apeirian mel. Quodsi definitionem ut est. No amet facilistorquatos per,
        vel ut adipisci contentiones. Vis te timeam malorum.

    p.
        Eos odio inani ad, cu vis nullam inimicus. Eos at omnes exerci intellegebat, ne fuisset reprehendunt mea.
        Reque liber omnesque pro ei. Wisi verear mandamus ea pri. Justo falli mucius an eos, no eos vitae aperiri.