extends layout

block content
    h1 Contact
    form(method='post', action='contact/send')
        .form-group
            label Name:
            input.form-control(type='text', name='name')
        .form-group
            label Email address:
            input.form-control(type='email', name='email')
        .form-group
            label Message:
            textarea.form-control(name='message')
        button.btn.btn-default(type='submit') Submit
