- var HOMEPAGE = false;
block variables

doctype html
html
    head
        title Jade Layouts
        link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')

    body
        include ./includes/navbar.jade
        //jumbotron only visible on the home page
        if HOMEPAGE
            include ./includes/jumbotron.jade

        .container
            block content


    script(src='javascripts/jquery-3.1.1.min.js')
    script(src='javascripts/bootstrap.min.js')